{% load static %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/dist/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/dist/waves.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

        <!-- dashboard init -->
        <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>
{% endblock %}