{% load static %}

<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>500 Error Page | Tender Notifier - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Ease Technologies" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <div class="account-pages my-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <h1 class="display-2 fw-medium">5<i class="bx bx-buoy bx-spin text-primary display-3"></i>0</h1>
                            <h4 class="text-uppercase">Internal Server Error</h4>
                            <div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href="{% url 'dashboard' %}">Back to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-xl-6">
                        <div>
                            <img src="{% static 'images/error-img.png'%}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'libs/metismenu/dist/metisMenu.min.js'%}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js'%}"></script>
        <script src="{% static 'libs/node-waves/dist/waves.min.js'%}"></script>

        <script src="{% static 'js/app.js'%}"></script>

    </body>
</html>
