<!DOCTYPE html>
<html>
<head>
    <title>Insert New bids</title>
</head>
<body>
<form method="post" action="home/" id="bids-form">
    {% csrf_token %}
    <label for="fname">Bid number:</label><br>
    <input type="text" id="bid" name="bid" required><br>
    <label for="lname">Department Name:</label><br>
    <input type="text" id="dname" name="dname" required><br>
    <label for="fname">Address:</label><br>
    <input type="text" id="address" name="address" required><br>
    <label for="lname">services:</label><br>
    <input type="text" id="services" name="services" required><br>
    <label for="fname">start date:</label><br>
    <input type="text" id="sdate" name="sdate" required><br>
    <label for="lname">start time:</label><br>
    <input type="text" id="stime" name="stime" required><br>
    <label for="lname">End Date:</label><br>
    <input type="text" id="edate" name="edate" required><br>
    <label for="lname">End time:</label><br>
    <input type="text" id="etime" name="etime" required><br>
    <label for="lname">Pdf link:</label><br>
    <input type="text" id="pdflink" name="pdflink" required><br>
    <label for="lname">location:</label><br>
    <input type="text" id="location" name="location" required><br>
    <button type="submit">Save</button>
 
</form>

</body>
</html>
